body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* NAVBAR */
.top-nav {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

/* FILTERS */
.filters {
  text-align: center;
  padding: 20px;
  background: white;
}

.filters button {
  margin: 0 10px;
  padding: 10px 25px;
  border: 1px solid #111;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

.filters button:hover {
  background: #111;
  color: white;
}

/* PRODUCTS */
.products {
  padding: 40px;
}

.category {
  margin-bottom: 60px;
}

.category h2 {
  margin-bottom: 30px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.product-card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

/* IMAGE FIX */
.product-card img {
  width: 100%;
  height: 340px;
  object-fit: contain;
  background: #f0f0f0;
  border-radius: 6px;
}

/* BUTTON */
.product-card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
