body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

/* NAVBAR */
.top-nav {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

/* PRODUCTS */
.products {
  padding: 40px;
}

.products h2 {
  margin-bottom: 30px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.product-card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

/* IMAGE FIX (IMPORTANT) */
.product-card img {
  width: 100%;
  height: 340px;
  object-fit: contain;
  background: #f0f0f0;
  border-radius: 6px;
}

/* BUTTON */
button {
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* CART */
table {
  width: 60%;
  margin: auto;
  background: white;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.center {
  text-align: center;
  margin: 20px;
}
