body {
  font-family: Arial;
  background: #f4f4f4;
}

.top-nav {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.products {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.product-card {
  background: white;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-detail {
  display: flex;
  gap: 40px;
  padding: 50px;
}

.product-detail img {
  width: 350px;
}

table {
  width: 60%;
  margin: auto;
  background: white;
  border-collapse: collapse;
}

td, th {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

button {
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
