body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

/* NAV */
.top-nav {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav input {
  padding: 6px 10px;
  width: 250px;
}

/* FILTERS */
.filters {
  background: white;
  padding: 15px;
  text-align: center;
}

.filters button {
  margin: 0 10px;
  padding: 8px 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 40px;
}

.category {
  margin-bottom: 60px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

/* IMAGE */
.product-card img {
  width: 100%;
  height: 320px;
  object-fit: contain;
  background: #f0f0f0;
}

/* BADGE */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
}

/* SIZE */
select {
  margin-top: 10px;
  padding: 5px;
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

